body{
    background-color: #efefef;
}

.main{
    background-color: #fff;
    margin: 30px;
}

.btn_float_right{
    float: right;
    margin-bottom: 10px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.forum-menu{
    font-size: 12px;
}

.jumbotron{
    margin: 50px;
}

.comment_edit{
    margin: 10px 0;
}

.comment-display{
    margin-top: 20px;
}
.comment_section{
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: #eee solid 1px;
}

.comment_operate{
    margin-top: 10px;
}

.comment_operate .icon{
    font-size: 16px;
    vertical-align: middle;
    margin-right: 15px;
    color: #999;
    cursor: pointer;
}

.comment_operate .icon:hover{
    color: #499ef3;
}
.comment_operate .icon.active{
    color: #499ef3;
}

.question_title{
    margin-top: 25px;
}

.sub_comment{
    margin-top: 10px;
    padding: 20px 15px 10px;
    border: #eee solid 1px;
    border-radius: 5px;
}