<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>没有权限</title>
    <head th:insert="import :: head"></head>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="wrap" style="min-height: 0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 white" style="text-align: center">
                <h1>对不起你没有权限</h1>
                <p class="text-danger">你看起来并没有相关操作的权限,请看看别的内容吧！！！</p>
                <a class="btn btn-link btn-lg" th:href="@{/}" role="button">返回首页</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="navigation :: footer"></div>
</body>
</html>