<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发现 - CodingHub</title>
    <head th:insert="fragment/import :: head"></head>
</head>
<body>
<div th:replace="fragment/navigation :: navigation"></div>
<!--<div class="fore-wrapper">-->
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12 side-left">
                <div class="show-type background-white">
                    <span th:if="${showType == 1}" class="icon icon-home"> 最新</span>
                    <span th:if="${showType == 2}" class="icon icon-magnifier"> 搜索结果</span>
                    <span th:if="${showType == 3}" class="icon icon-tag"> [[${byTag}]]</span>
                    <span th:if="${showType == 4}" class="icon icon-feed"> 等你来答</span>
                    <span th:if="${showType == 5}" class="icon icon-calendar"> 七日最热</span>
                    <span th:if="${showType == 6}" class="icon icon-tag"> 所有标签</span>
                </div>
                <!--展示所有标签-->
                <div th:if="${showType == 6}">
                    <div class="panel panel-default">
                        <div class="panel-body streams-tags">
                            <div class="col-sm-6 row-item" th:each="tagType : ${allTags}">
                                <h2 class="title">
                                    <span><i class="icon icon-grid"></i>[[${tagType.type}]]</span>
                                    <span class="label label-default">[[${tagType.tags.size()}]]</span>
                                </h2>
                                <div class="media">
                                    <div class="media-body">
                                        <a th:each="tag : ${tagType.tags}"
                                           th:href="@{/question/tags/{tagId}(tagId = ${tag.id})}">
                                            <span class="community-tag">
                                                <i class="icon-tag"> [[${tag.tagName}]]</i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--主题内容-->
                <div class="posts" th:if="${showType != 6}">
                    <div th:if="${pagination.pageCount == null}" class="jumbotron background-white">
                        <p class="text_desc">看起来还没有相关问题呢.....</p>
                    </div>
                    <ul class="posts-list" th:each="question : ${pagination.pageData}">
                        <li class="content">
                            <div class="content-box posts-aside">
                                <div class="posts-item">
                                    <div class="item-title">
                                        <h2>
                                            <span th:if="${question.isTop == 1}" class="icon-pin"
                                                  style="color: #f00;">[置顶]</span>
                                            <span th:if="${question.isQuality == 1}"
                                                  class="icon-fire" style="color: #f00;">[精品帖]</span>
                                            <a th:href="@{/question/{questionId}(questionId = ${question.id})}">
                                                [[${question.title}]]
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="item-text question_desc">[[${question.description}]]</div>
                                    <div class="item-info">
                                        <ul>
                                            <li class="post-author hidden-xs">
                                                <div class="avatar">
                                                    <img th:src="${question.user.avatarUrl}" alt="avatar"
                                                         class="avatar" height="50" width="50">
                                                </div>
                                                <a th:href="@{/profile/user/{userId}(userId = ${question.creator})}">
                                                    [[${question.user.name}]]
                                                </a>
                                            </li>
                                            <li class="ico-time">
                                                <i class="icon-clock"></i>
                                                [[${#dates.format(question.gmtLastComment, 'yyyy-MM-dd HH:mm')}]]
                                            </li>
                                            <li class="ico-eye hidden-xs">
                                                <i class="icon-book-open"></i>
                                                [[${question.viewCount}]]
                                            </li>
                                            <li class="ico-like hidden-xs">
                                                <i class="icon-speech"></i>
                                                [[${question.commentCount}]]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--分页-->
                <div class="text-center"
                     th:if="${showType != 6 and pagination.pageCount != null and pagination.pageCount > 1}">
                    <div th:if="${showType == 1}" th:insert="fragment/pageNav :: index"></div>
                    <div th:if="${showType  == 2}" th:insert="fragment/pageNav :: search"></div>
                    <div th:if="${showType == 3}" th:insert="fragment/pageNav :: tag"></div>
                    <div th:if="${showType == 4}" th:insert="fragment/pageNav :: emptyComment"></div>
                    <div th:if="${showType == 5}" th:insert="fragment/pageNav :: trend"></div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 side-right">
                <div th:replace="fragment/sides :: hotTags"></div>
                <div th:replace="fragment/sides :: latest"></div>
                <div th:replace="fragment/sides :: donate"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/navigation :: footer"></div>
<script type="application/javascript">
    $(function () {
        $("#searchForm").on("submit", function (e) {
            var searchTxt = $("[name=search]").val();
            if (searchTxt === '' || searchTxt === null) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>
</body>
</html>
