<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodingHub</title>
    <head th:insert="import :: head"></head>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12 side-left">
                <h3>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    发现
                </h3>
                <div class="posts">
                    <ul class="posts-list" th:each="question : ${pagination.pageData}">
                        <li class="content">
                            <div class="content-box posts-aside">
                                <div class="posts-item">
                                    <div class="item-title">
                                        <h2>
                                            <a th:href="@{/question/{questionId}(questionId = ${question.id})}">
                                                <span th:if="${question.isTop == 1}" class="glyphicon glyphicon-flag"
                                                      style="color: #f00;">[置顶]</span>
                                                <span th:if="${question.isQuality == 1}"
                                                      class="glyphicon glyphicon-fire" style="color: #f00;">[精品帖]</span>
                                                [[${question.title}]]
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="item-text question_desc">[[${question.description}]]</div>
                                    <div class="item-info">
                                        <ul>
                                            <li class="post-author hidden-xs">
                                                <div class="avatar">
                                                    <img th:src="${question.user.avatarUrl}" alt="avatar"
                                                         class="lazy avatar avatar-50 photo" height="50" width="50">
                                                </div>
                                                <a th:href="@{/profile/user/{userId}(userId = ${question.creator})}"
                                                   target="_blank">
                                                    [[${question.user.name}]]
                                                </a>
                                            </li>
                                            <li class="ico-time">
                                                <i class="icon-clock"></i>
                                                [[${#dates.format(question.gmtModified, 'yyyy-MM-dd HH:mm')}]]
                                            </li>
                                            <li class="ico-eye hidden-xs">
                                                <i class="icon-book-open"></i>
                                                [[${question.viewCount}]]
                                            </li>
                                            <li class="ico-like hidden-xs">
                                                <i class="icon-bubble"></i>
                                                [[${question.commentCount}]]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text-center" th:if="${showType == 1}" th:insert="pageNav :: index"></div>
                <div class="text-center" th:if="${showType  == 2}" th:insert="pageNav :: search"></div>
                <div class="text-center" th:if="${showType == 3}" th:insert="pageNav :: tag"></div>
                <div class="text-center" th:if="${showType == 4}" th:insert="pageNav :: emptyComment"></div>
                <div class="text-center" th:if="${showType == 5}" th:insert="pageNav :: trend"></div>
            </div>
            <div class="col-md-3 col-xs-12 side-right">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="glyphicon glyphicon-send"></i>
                            热门标签
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list">
                            <li class="text_desc" th:each="hotTag : ${hotTags}">
                                <a class="community-tag" th:href="@{/question/tags/{tagId}(tagId = ${hotTag.id})}">
                                    <span class="glyphicon glyphicon-tag"></span>
                                    <span>[[${hotTag.tagName}]]</span>
                                </a>
                                <span th:text="${hotTag.questionCount + '个问题,'+hotTag.commentCount + '个回复'}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="glyphicon glyphicon-usd"></i>
                            资助站长
                        </h3>
                    </div>
                    <div class="panel-body">
                        <img class="img-rounded img-responsive" th:src="@{/images/alipay.jpg}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="back_top" title="返回顶部">
    <span class="glyphicon glyphicon-arrow-up" style="font-size: 18px"></span>
</a>
<script type="application/javascript">
    $(function () {
        //先将#back-top隐藏
        var $backTop = $('.back_top');
        $backTop.hide();
        //当滚动条的垂直位置距顶部100像素一下时，跳转链接出现，否则消失
        $(window).scroll(function () {
            if ($(window).scrollTop() > 200) {
                $backTop.fadeIn(200);
            } else {
                $backTop.fadeOut(200);
            }
        });
        //点击跳转链接，滚动条跳到0的位置，页面移动速度是400
        $backTop.on("click", function () {
            $('html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>
<div th:replace="navigation :: footer"></div>
</body>
</html>
