<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="index">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${pagination.showFirstPage}">
                <a th:href="@{/(page=1)}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.showPrevious}">
                <a th:href="@{/(page=${pagination.currentPage} - 1)}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage == page}? 'active':''">
                <span th:if="${pagination.currentPage == page}">[[${page}]]</span>
                <a th:if="${pagination.currentPage != page}" th:href="@{/(page=${page})}">[[${page}]]</a>
            </li>
            <li th:if="${pagination.showNext}">
                <a th:href="@{/(page=${pagination.currentPage} + 1)}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.showEndPage}">
                <a th:href="@{/(page=${pagination.pageCount})}" aria-label="Next">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div th:fragment="search">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${pagination.showFirstPage}">
                <a th:href="@{/question/search(page=1, search=${search})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.showPrevious}">
                <a th:href="@{/question/search(page=${pagination.currentPage} - 1, search=${search})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage == page}? 'active':''">
                <span th:if="${pagination.currentPage == page}" th:text="${page}"></span>
                <a th:if="${pagination.currentPage != page}" th:href="@{/(page=${page})}" th:text="${page}">1</a>
            </li>
            <li th:if="${pagination.showNext}">
                <a th:href="@{/question/search(page=${pagination.currentPage} + 1, search=${search})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.showEndPage}">
                <a th:href="@{/question/search(page=${pagination.pageCount}, search=${search})}" aria-label="Next">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div th:fragment="profile">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${pagination.showFirstPage}">
                <a th:href="@{/profile/{section}(page=1, section = ${section})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.showPrevious}">
                <a th:href="@{/profile/{section}(page=${pagination.currentPage} - 1, section = ${section})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage == page}? 'active':''">
                <span th:if="${pagination.currentPage == page}" th:text="${page}"></span>
                <a th:if="${pagination.currentPage != page}" th:href="@{/profile/{section}(page=${page}, section = ${section})}" th:text="${page}">1</a>
            </li>
            <li th:if="${pagination.showNext}">
                <a th:href="@{/profile/{section}(page=${pagination.currentPage} + 1, section = ${section})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.showEndPage}">
                <a th:href="@{/profile/{section}(page=${pagination.pageCount}, section = ${section})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>