<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${sectionName + ' | CodingHub'}">个人中心</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
</head>
<body>
<script th:src="@{/js/jquery-1.12.4.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

<div th:replace="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>[[${sectionName}]]</h2>
            <hr/>
            <div th:if="${section == 'publish'}">
                <div th:replace="section :: publish"></div>
            </div>
            <div th:if="${section == 'notification'}">
                <div th:replace="section :: notification"></div>
            </div>
            <div th:if="${section == 'thumb'}">
                <div th:replace="section :: thumb"></div>
            </div>
            <div th:if="${section == 'view'}">
                <div th:replace="section :: view"></div>
            </div>
            <div th:if="${pagination.pageCount == null}">
                <div class="jumbotron" style="background-color: #fff;">
                    <p class="text_desc">看起来你还没有这些历史呢.....</p>
                </div>
            </div>
            <div th:if="${pagination.pageCount != null}" th:replace="pageNav :: profile"></div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-top: 20px">
                <a th:href="@{/profile/notification}"
                   th:class="${section == 'notification'}? 'list-group-item active' : 'list-group-item'">
                    我的通知
                    <span class="badge" th:if="${unreadCount > 0}">[[${unreadCount}]]</span>
                </a>
                <a th:href="@{/profile/thumb}"
                   th:class="${section == 'thumb'}? 'list-group-item active' : 'list-group-item'">
                    我的赞
                </a>
                <a th:href="@{/profile/view}"
                   th:class="${section == 'view'}? 'list-group-item active' : 'list-group-item'">
                    我看过的
                </a>
                <a th:href="@{/profile/publish}"
                   th:class="${section == 'publish'}? 'list-group-item active' : 'list-group-item'">
                    我的提问
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>