<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodingHub</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
</head>
<body>

<script th:src="@{/js/jquery-1.12.4.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>提问</h2>
            <hr/>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="questionTitle">问题描述（简单扼要）</label>
                    <input type="text" class="form-control" name="questionTitle" id="questionTitle"
                           placeholder="问题" th:value="${title}">
                </div>

                <div class="form-group">
                    <label for="description">问题详细信息（必填项）：</label>
                    <textarea class="form-control" name="description" id="description" cols="30"
                              rows="10" th:text="${description}"></textarea>
                </div>

                <div class="form-group">
                    <label for="tags">添加标签：</label>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="创建或者搜索添加新话题..."
                           th:value="${tags}">
                </div>
                <span class="alert alert-danger" th:if="${error}" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn-float-right">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>提问指南</h3>
            这里是一些提问的帮助信息
            <br>
            问题标题：请用精简的语言描述您发布的问题，不超过25个字
            <br>
            问题描述：详细补充你的问题内容，并确保问题描述的清晰直观，最好提供一些问题的资料
            <br>
            选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字
            <br>
            关于积分：。。。。。。
        </div>
    </div>
</div>


</body>
</html>