<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${question.title} + ' | CodingHub'">问题</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/forum.css}"/>
    <link rel="stylesheet" th:href="@{/css/editormd.preview.min.css}"/>
    <script type="application/javascript" th:src="@{/js/forum.js}"></script>
</head>
<body>
<script th:src="@{/js/jquery-1.12.4.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
<script th:src="@{/js/editormd.min.js}"></script>
<script th:src="@{/js/lib/marked.min.js}"></script>
<script th:src="@{/js/lib/prettify.min.js}"></script>

<div th:insert="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <!--左区-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题的标题，描述-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question_title"><span th:text="${question.title}"></span></h4>
                <span class="text_desc">
                作者:<span>[[${question.user.name}]]</span> |
                发布时间:<span>[[${#dates.format(question.gmtModified, 'yyyy-MM-dd HH:mm')}]]</span> |
                阅读数:<span>[[${question.viewCount}]]</span>
                </span>
                <div class="panel panel-default" style="margin: 15px 0px;">
                    <div class="panel-body">
                        <div id="markdown-preview">
                            <textarea style="display:none;" th:text="${question.description}"></textarea>
                            <script type="text/javascript">
                                $(function () {
                                    editormd.markdownToHTML("markdown-preview", {
                                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="community-tag" th:each="tag : ${question.tags.split(',')}">
                        <span class="glyphicon glyphicon-tag"></span>
                        <span>[[${tag}]]</span>
                    </span>
                </div>
                <hr/>
                <div shiro:authenticated="">
                    <button class="text_desc" id="updateQuestion" th:if="${question.user.id == session.user.id}"
                            th:attr="uri=@{/question/{questionId}(questionId = ${question.id})}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        修改
                    </button>
                    <button class="text_desc" id="deleteQuestion" shiro:hasPermission="question:delete"
                            th:attr="uri=@{/question/{questionId}(questionId = ${question.id})}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        删除
                    </button>
                    <button class="text_desc" id="qualityQuestion" shiro:hasPermission="question:quality"
                            th:if="${question.isQuality == 0}"
                            th:attr="uri=@{/question/quality/{questionId}(questionId = ${question.id})}">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                        加精
                    </button>
                    <button class="text_desc" id="qualityQuestion" shiro:hasPermission="question:quality"
                            th:if="${question.isQuality == 1}"
                            th:attr="uri=@{/question/quality/{questionId}(questionId = ${question.id})}">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                        取消加精
                    </button>
                    <button class="text_desc" id="topQuestion" shiro:hasPermission="question:top"
                            th:if="${question.isTop == 0}"
                            th:attr="uri=@{/question/top/{questionId}(questionId = ${question.id})}">
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                        置顶
                    </button>
                    <button class="text_desc" id="topQuestion" shiro:hasPermission="question:top"
                            th:if="${question.isTop == 1}"
                            th:attr="uri=@{/question/top/{questionId}(questionId = ${question.id})}">
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                        取消置顶
                    </button>
                </div>
            </div>

            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_display" id="comments"
                 th:data-active="${session.user == null ? 0 : 1}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 th:text="${question.commentCount} + '个回复'"></h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="comment : ${comments}" style="padding: 20px 15px">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" th:src="${comment.user.avatarUrl}" alt="avatar">
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading text_desc">[[${comment.user.name}]]</h5>
                                    <div>[[${comment.content}]]</div>
                                    <div class="comment_operate">
                                        <span th:class="${comment.isThumbUp == 1 ? 'icon active' : 'icon'}"
                                              onclick="thumbComment(this)" th:data-id="${comment.id}"
                                              th:data-active="${session.user == null ? 0 : 1}"
                                              th:id="${'thumb-' + comment.id}">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            <span th:id="${'thumbCount-' + comment.id}">[[${comment.thumbCount}]]</span>
                                        </span>
                                        <span class="icon" onclick="collapseComment(this)" th:data-id="${comment.id}"
                                              th:id="${'collapse-' + comment.id}">
                                            <span class="glyphicon glyphicon-comment"></span>
                                            <span th:id="${'subCount-' + comment.id}">[[${comment.subCommentCount}]]</span>
                                        </span>
                                        <span class="text_desc pull-right">
                                            [[${#dates.format(comment.gmtModified, 'yyyy-MM-dd HH:mm')}]]</span>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub_comment"
                                         th:id="'comment-' + ${comment.id}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" th:name="${'input-' + comment.id}"
                                                   placeholder="评论一下...">
                                            <button type="button" class="btn btn-success pull-right"
                                                    th:data-id="${comment.id}"
                                                    style="margin-top: 10px" onclick="subComment(this)">回复
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--回复编辑区-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_main">
                <h4 class="question_title">我来回复</h4>
                <hr style="margin-top: 0;"/>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object img-rounded"
                             th:src="${session.user == null ? '/images/anonymous_user_avatar.png' : session.user.avatarUrl}"
                             alt="avatar"/>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading name_vertical_center">
                            [[${session.user == null ? '匿名用户' : session.user.name}]]
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}"/>
                <textarea class="form-control comment_edit" rows="3" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn_float_right" onclick="comment()">回复</button>
            </div>
        </div>
        <!--右区-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a th:href="@{/profile/user/{userId}(userId=${question.user.id})}">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="avatar">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading name_vertical_center">[[${question.user.name}]]</h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <div class="text_desc" th:if="${related == null}">
                    这个问题问的太有新意了，好像还没相关的问题呢...
                </div>
                <ul class="list-group" th:if="${related != null}">
                    <li class="list-group-item" th:each="question : ${related}">
                        <a th:href="@{/question/{questionId}(questionId = ${question.id})}">[[${question.title}]]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="alert :: original"></div>

<div th:replace="navigation :: footer"></div>

<form id="updateForm" method="post">
    <input type="hidden" name="_method" value="put"/>
</form>

<form id="deleteForm" method="post">
    <input type="hidden" name="_method" value="delete"/>
</form>

<form id="qualityForm" method="post"></form>

<form id="topForm" method="post"></form>
<script>
    $("#updateQuestion").on("click", function () {
        $("#updateForm").attr("action", $(this).attr("uri")).submit();
        return;
    });

    $("#deleteQuestion").on("click", function () {
        $("#deleteForm").attr("action", $(this).attr("uri")).submit();
        return;
    });

    $("#qualityQuestion").on("click", function () {
        $("#qualityForm").attr("action", $(this).attr("uri")).submit();
        return;
    });

    $("#topQuestion").on("click", function () {
        $("#topForm").attr("action", $(this).attr("uri")).submit();
        return;
    });
</script>
</body>
</html>