<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--我的浏览历史-->
<div th:fragment="view">
    <div class="panel panel-default" th:each="viewHistory : ${pagination.pageData}">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <p class="media-heading">
                        你浏览了
                        <a th:href="@{/profile/user/{userId}(userId = ${viewHistory.userId})}"
                           th:text="${viewHistory.username}"></a>
                        的问题
                        <a th:href="@{/question/{questionId}(questionId = ${viewHistory.questionId})}"
                           th:text="${viewHistory.title}"></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span th:text="${#dates.format(viewHistory.gmtModified, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
    </div>
</div>
<!--我的点赞-->
<div th:fragment="thumb">
    <div class="panel panel-default" th:each="thumbHistory : ${pagination.pageData}">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <p class="media-heading">
                        你点赞了
                        <a th:href="@{/profile/user/{userId}(userId = ${thumbHistory.userId})}"
                           th:text="${thumbHistory.username}"></a>
                        的回复
                        <a th:href="@{/question/{questionId}(questionId = ${thumbHistory.questionId})}"
                           th:text="${thumbHistory.comment}"></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span th:text="${#dates.format(thumbHistory.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
    </div>
</div>
<!--我的通知-->
<div th:fragment="notification">
    <div class="panel panel-default" th:each="notification : ${pagination.pageData}">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <p class="media-heading">
                        <a th:href="@{/profile/user/{userId}(userId = ${notification.notifier})}"
                           th:text="${notification.notifierName}">用户</a>
                        <span th:text="${notification.typeName}">评论了</span>
                        <a th:href="@{/notification/{noticfication}(noticfication = ${notification.id})}"
                           th:text="${notification.outerTitle}">问题名称</a>
                        <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span th:text="${#dates.format(notification.gmtCreate, 'yyyy-MM-dd HH:mm')}">刚刚</span>
        </div>
    </div>
</div>
<!--我的提问-->
<div th:fragment="publish">
    <div class="media" th:each="question : ${pagination.pageData}">
        <div class="media-left">
            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="avatar">
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a th:href="@{/question/{questionId}(questionId = ${question.id})}"
                   th:text="${question.title}"></a>
            </h4>
            <span class="text_desc">
                <span th:text="${question.commentCount}">00</span> 个回复 •
                <span th:text="${question.viewCount}">00</span> 次浏览 •
                <span th:text="${#dates.format(question.gmtModified, 'yyyy-MM-dd HH:mm')}">刚刚</span>
            </span>
        </div>
    </div>
</div>
<div th:fragment="info">
    <div class="media">
        <div class="media-left">
            <img class="media-object img-rounded" th:src="${userProfile.avatarUrl}" alt="avatar">
        </div>
        <div class="media-body">
            <h4 class="media-heading name_vertical_center">[[${userProfile.name}]]</h4>
            <div th:if="${userProfile.bio == null}" class="jumbotron" style="background-color: #fff;">
                <p class="text_desc">神秘到没有留下只言片语.....</p>
            </div>
            <div th:if="${userProfile.bio != null}" class="jumbotron" style="background-color: #fff;">
                <p class="text_desc">[[${userProfile.bio}]]</p>
            </div>
        </div>
    </div>
    <hr/>
    <span class="glyphicon glyphicon-th text_desc profile_badge">发布:<span>[[${userProfile.publishNum}]]</span>
    </span>
    <span class="glyphicon glyphicon-comment text_desc profile_badge">评论:<span>[[${userProfile.commentNum}]]</span>
    </span>
    <span class="glyphicon glyphicon-heart text_desc profile_badge">被赞:<span>[[${userProfile.thumbedNum}]]</span>
    </span>
    <hr/>
</div>
<div th:fragment="comment">
    <div class="panel panel-default" th:each="comment : ${pagination.pageData}">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <p class="media-heading">
                        <a>用户</a>
                        <span>发表了回复</span>
                        <a th:href="@{/question/{questionId}(questionId = ${comment.questionId})}">[[${comment.content}]]</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span>[[${#dates.format(comment.gmtCreate, 'yyyy-MM-dd HH:mm')}]]</span>
        </div>
    </div>
</div>
</body>
</html>