<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${userProfile.name + ' - 用户资料'}"></title>
    <head th:insert="fragment/import :: head"></head>
</head>
<body>
<div th:replace="fragment/navigation :: navigation"></div>
<div class="wrap">
    <div class="container">
        <div class="row users-show">
            <div class="col-xs-12 col-md-3 side-left">
                <ul class="list-group about-user">
                    <li class="list-group-item user-card">
                        <div class="user-avatar">
                            <img class="img-circle" th:src="${userProfile.avatarUrl}"/>
                        </div>
                        <div class="user-name">
                            <span>[[${userProfile.name}]]</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="user-datas">
                            <ul>
                                <li><strong>[[${userProfile.publishNum}]]</strong><span>发布</span></li>
                                <li class="noborder"><strong>[[${userProfile.commentNum}]]</strong><span>评论</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div th:replace="fragment/sides :: userNav"></div>
            </div>
            <div class="col-xs-12 col-md-9 side-right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="icon icon-list" th:if="${section == 'info'}"></span>
                            <span class="icon icon-puzzle" th:if="${section == 'publish'}"></span>
                            <span class="fa fa-comments-o" th:if="${section == 'comment'}"></span>
                            [[${sectionName}]]
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div th:if="${section == 'info'}">
                            <div th:replace="fragment/section :: info"></div>
                        </div>
                        <div th:if="${section == 'publish'}">
                            <div th:replace="fragment/section :: publish"></div>
                        </div>
                        <div th:if="${section == 'comment'}">
                            <div th:replace="fragment/section :: comment"></div>
                        </div>
                        <div th:if="${section != 'info' and pagination.pageCount == null}"
                             class="jumbotron background-white text-center">
                            <p class="text_desc">看起来Ta还没有这些历史呢.....</p>
                        </div>
                    </div>
                    <div class="panel-footer text-center"
                         th:if="${section != 'info' and pagination.pageCount != null and pagination.pageCount > 1}">
                        <div th:replace="fragment/pageNav :: user"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/navigation :: footer"></div>
</body>
</html>