<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${userProfile.name + ' - 用户资料'}"></title>
    <head th:insert="import :: head"></head>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="wrap">
    <div class="container">
        <div class="row users-show">
            <div class="col-xs-12 col-md-3 side-left">
                <ul class="list-group about-user">
                    <li class="list-group-item user-card">
                        <div class="user-avatar">
                            <img class="img-circle" th:src="${userProfile.avatarUrl}"/>
                        </div>
                        <div class="user-name">
                            <span>[[${userProfile.name}]]</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="user-datas">
                            <ul>
                                <li><strong>[[${userProfile.publishNum}]]</strong><span>发布</span></li>
                                <li class="noborder"><strong>[[${userProfile.commentNum}]]</strong><span>评论</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <nav class="navbar navbar-default shadow-box background-white">
                    <div class="container-fluid">
                        <div class="navbar-header visible-xs">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#home-navbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="navbar-brand">导航</span>
                        </div>
                    </div>
                    <div id="home-navbar" class="collapse navbar-collapse">
                        <div class="list-group user-nav first">
                            <a th:href="@{/profile/user/{userId}(userId = ${userId})}" class="list-group-item"
                               th:if="${section != 'info'}">
                                <i class="icon icon-list"></i>用户资料
                            </a>
                            <span th:if="${section == 'info'}" class="list-group-item active">
                                <i class="icon icon-list"></i>用户资料
                            </span>
                            <a th:href="@{/profile/user/{userId}(userId = ${userId}, s = 'publish')}"
                               class="list-group-item" th:if="${section != 'publish'}">
                                <i class="icon icon-puzzle"></i>历史提问
                            </a>
                            <span th:if="${section == 'publish'}" class="list-group-item active">
                                <i class="icon icon-puzzle"></i>历史提问
                            </span>
                            <a th:href="@{/profile/user/{userId}(userId = ${userId}, s = 'comment')}"
                               class="list-group-item" th:if="${section != 'comment'}">
                                <i class="icon icon-speech"></i>历史回复
                            </a>
                            <span th:if="${section == 'comment'}" class="list-group-item active">
                                <i class="icon icon-speech"></i>历史回复
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-xs-12 col-md-9 side-right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="icon icon-list" th:if="${section == 'info'}"></span>
                            <span class="icon icon-puzzle" th:if="${section == 'publish'}"></span>
                            <span class="fa fa-comments-o" th:if="${section == 'comment'}"></span>
                            [[${sectionName}]]
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div th:if="${section == 'info'}">
                            <div th:replace="section :: info"></div>
                        </div>
                        <div th:if="${section == 'publish'}">
                            <div th:replace="section :: publish"></div>
                        </div>
                        <div th:if="${section == 'comment'}">
                            <div th:replace="section :: comment"></div>
                        </div>
                        <div th:if="${section != 'info' and pagination.pageCount == null}" class="jumbotron"
                             style="background-color: #fff;">
                            <p class="text_desc">看起来Ta还没有这些历史呢.....</p>
                        </div>
                    </div>
                    <div class="panel-footer text-center"
                         th:if="${section != 'info' and pagination.pageCount != null and pagination.pageCount > 1}">
                        <div th:replace="pageNav :: user"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="site-scroll-top" title="返回顶部">
    <i class="fa fa-angle-double-up fa-2x"></i>
</a>
<script type="application/javascript">
    $(function () {
        //先将#back-top隐藏
        var $backTop = $('.site-scroll-top');
        $backTop.hide();
        //当滚动条的垂直位置距顶部100像素一下时，跳转链接出现，否则消失
        $(window).scroll(function () {
            if ($(window).scrollTop() > 200) {
                $backTop.fadeIn(200);
            } else {
                $backTop.fadeOut(200);
            }
        });
        //点击跳转链接，滚动条跳到0的位置，页面移动速度是400
        $backTop.on("click", function () {
            $('html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>
<div th:replace="navigation :: footer"></div>
</body>
</html>