<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <head th:insert="import :: head"></head>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="row">
    <div class="col-xs-offset-1 col-sm-3 col-xs-10 margin_bottom_20">
        <div class="col-xs-12 white">
            <div class="list-group" style="margin-top: 20px">
                <a th:href="@{/profile/user/{userId}(userId = ${userId})}"
                   th:class="${section == 'info'? 'list-group-item active' : 'list-group-item'}">
                    <span class="glyphicon glyphicon-user"></span>
                    用户资料
                </a>
                <a th:href="@{/profile/user/{userId}(userId = ${userId}, s = 'publish')}"
                   th:class="${section == 'publish'? 'list-group-item active' : 'list-group-item'}">
                    <span class="glyphicon glyphicon-th"></span>
                    历史提问
                </a>
                <a th:href="@{/profile/user/{userId}(userId = ${userId}, s = 'comment')}"
                   th:class="${section == 'comment'? 'list-group-item active' : 'list-group-item'}">
                    <span class="glyphicon glyphicon-comment"></span>
                    历史回复
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
        <div class="col-xs-12 white">
            <h3>
                <span class="glyphicon glyphicon-user" th:if="${section == 'info'}"></span>
                <span class="glyphicon glyphicon-th" th:if="${section == 'publish'}"></span>
                <span class="glyphicon glyphicon-comment" th:if="${section == 'comment'}"></span>
                [[${sectionName}]]
            </h3>
            <hr/>
            <div th:if="${section == 'info'}">
                <div th:replace="section :: info"></div>
            </div>
            <div th:if="${section == 'publish'}">
                <div th:replace="section :: publish"></div>
            </div>
            <div th:if="${section == 'comment'}">
                <div th:replace="section :: comment"></div>
            </div>
            <div th:if="${section != 'info' and pagination.pageCount == null}">
                <div class="jumbotron" style="background-color: #fff;">
                    <p class="text_desc">看起来Ta还没有这些历史呢.....</p>
                </div>
            </div>
            <div th:if="${section != 'info'}">
                <div th:if="${pagination.pageCount != null}" th:replace="pageNav :: user"></div>
            </div>
        </div>
    </div>
</div>
<a class="back_top" title="返回顶部">
    <span class="glyphicon glyphicon-arrow-up" style="font-size: 18px"></span>
</a>
<script type="application/javascript">
    $(function() {
        //先将#back-top隐藏
        var $backTop = $('.back_top');
        $backTop.hide();
        //当滚动条的垂直位置距顶部100像素一下时，跳转链接出现，否则消失
        $(window).scroll(function() {
            if ($(window).scrollTop() > 200) {
                $backTop.fadeIn(200);
            } else {
                $backTop.fadeOut(200);
            }
        });
        //点击跳转链接，滚动条跳到0的位置，页面移动速度是400
        $backTop.on("click", function() {
            $('html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>
<div th:replace="navigation :: footer"></div>
</body>
</html>